<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 7 - Bonvino - Aplicación para enófilos - Principal</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <!-- Agregamos esta URL para que se cargen los estilos cuando ejecutamos la aplicacion python app.py -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" href="./front/fotos/icono.ico" type="image/x-icon"> 
</head>
<body>
    <div class="container">
        <div class="seccion-logo">
            <h1>Bienvenido a Bonvino</h1>
            <div class="integrantes">
                <ul>
                    <li>PPAI - Grupo 7</li>
                    <li>Integrantes:</li>
                    <li>Orona, Santiago; Legajo: 95342</li>
                    <li>De la Fuente, Facundo; Legajo: 94798</li>
                    <li>Rosales, Angel; Legajo: 95212</li>
                    <li>Diaz, Emiliano; Legajo: 95255</li>
                    <li>Bailey, Julián Eduardo; Legajo: 96032</li>
                    <li>De la Vega, Federico Agustin; Legajo: 95680</li>
                    <li>Ramallo, Mateo; Legajo: 94441</li>
                    <li>Amaya Juan Bautista; Legajo: 95389</li>
                </ul>
            </div>
        </div>
        <div class="seccion-opciones">
            <h2>Menú de Opciones</h2>
            <div class="botones">
                <button onclick="generarRankingVinos()">Generar ranking vinos</button>
                <button onclick="boton2()">Boton 2</button>
                <button onclick="boton3()">Boton 3</button>
                <button onclick="boton4()">Boton 4</button>
            </div>
        </div>  
    </div>
    <script src="../static/js/script.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>

